@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*,*::after,*::before{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	flex-direction: column;
}

.container{
	display: flex;
	width: 90vw;
}

.panel{
	height: 80vh;
	background-position: center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	color: aqua;
	cursor: pointer;
	flex: 0.5;
	margin: 10px;
	border-radius: 50px;
	position: relative;
	transition: flex 0.5s ease-in;
}
.panel:hover{
	opacity: 0.7;
	transition: all linear .1s;
}
.panel.active{
	flex: 5;
}
.panel h3{
	font-size: 1.6rem;
	position: absolute;
	bottom: 20px;
	left: 250px;
	margin:0;
	opacity: 0;
	text-align: center;
	text-transform: uppercase;
}

.panel.active h3{
	opacity: 1;
	transition: opacity 0.5s ease-in 0.4s;
}

@media only screen and (max-width:480px){
	.container{
		width: 100vw;
	}

	.panel:nth-of-type(4),.panel:nth-of-type(5){
		display: none;
	}
}